In [30]:
import sqlite3

In [31]:
import sqlite3
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    print(cur) # <sqlite3.Cursor at ...>
    print(conn) # <sqlite3.Connection at ...>
    res = cur.execute("bSELECT name FROM sqlite_master")
    print(res.fetchall()) # shows users tbl existing

<sqlite3.Cursor object at 0x7f21099ca1c0>
<sqlite3.Connection object at 0x7f210a5dc840>
[('users',), ('sqlite_autoindex_users_1',), ('sqlite_sequence',), ('books',), ('sqlite_autoindex_books_1',)]

In [38]:
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT * FROM users")
    print(res.fetchall()) # shows users tbl existing


with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT * FROM books")
    print(res.fetchall()) # shows users tbl existing

[(1, 'tony', '1234'), (3, 'tony2', '1234'), (4, 'tony3', '1234'), (5, 'tony4', '1234')]
[]

In [33]:

with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT * FROM books")
    print(res.fetchall()) # shows users tbl existing

print()
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    res = cur.execute("PRAGMA table_info(books)")
    print(res.fetchall()) # shows users tbl existing

[]

[(0, 'book_id', 'INTEGER', 0, None, 1), (1, 'book_title', 'TEXT', 1, None, 0), (2, 'book_author', 'TEXT', 0, None, 0)]

In [44]:
import sqlite3

# def check_tbl():
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT name FROM sqlite_master").fetchall()
    [print(r) for r in res]b

('users',)
('sqlite_autoindex_users_1',)
('sqlite_sequence',)
('books',)
('sqlite_autoindex_books_1',)
('games',)
('sqlite_autoindex_games_1',)

In [54]:
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT * FROM users").fetchall()
    [print(r) for r in res]

(1, 'tony', '1234')
(3, 'tony2', '1234')
(5, 'tony4', '1234')

In [47]:

with sqlite3.connect("gaming.db") as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT name FROM sqlite_master").fetchall()
    [print(r) for r in res]

('games',)
('sqlite_autoindex_games_1',)
('sqlite_sequence',)

In [49]:

with sqlite3.connect("gaming.db") as conn:
    cur = conn.cursor()
    res = cur.execute("SELECT * FROM games").fetchall()
    [print(r) for r in res]

In [55]:
print()
with sqlite3.connect("gaming.db") as conn:
    cur = conn.cursor()
    res = cur.execute("PRAGMA table_info(games)")
    print(res.fetchall()) # shows users tbl existing

[(0, 'game_id', 'INTEGER', 0, None, 1), (1, 'game_tite', 'TEXT', 1, None, 0), (2, 'year', 'INTEGER', 1, None, 0)]

In [56]:
with sqlite3.connect("gaming.db") as conn:
    conn.execute("ALTER TABLE games RENAME COLUMN game_tite TO game_title")

In [57]:
print()
with sqlite3.connect("gaming.db") as conn:
    cur = conn.cursor()
    res = cur.execute("PRAGMA table_info(games)")
    print(res.fetchall()) # shows users tbl existing

[(0, 'game_id', 'INTEGER', 0, None, 1), (1, 'game_title', 'TEXT', 1, None, 0), (2, 'year', 'INTEGER', 1, None, 0)]

In [62]:
import uuid
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    res = cur.execute("PRAGMA table_info(users)").fetchall()
    print(res)
    # conn.execute('ALTER TABLE users REMOVE COLUMN new_id') # 1. Add new UUID column

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'username', 'TEXT', 1, None, 0), (2, 'password', 'TEXT', 1, None, 0), (3, 'new_id', 'TEXT', 0, None, 0)]

In [ ]:
import uuid
with sqlite3.connect("users.db") as conn:
    users = conn.execute('SELECT id FROM users').fetchall() # 2. Generate UUIDs for existing records
    print(users)
    for user in users:
        conn.execute('''
            UPDATE users SET new_id = ? WHERE id = ?
        ''', (str(uuid.uuid4()), user[0]))

[(1,), (3,), (5,)]

In [69]:
# import uuid
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    users = cur.execute("SELECT * FROM users").fetchall()
    [print(user) for user in users]

(1, 'tony', '1234', '73bf1915-728d-4c4c-8b24-71d1e2934e0c')
(3, 'tony2', '1234', '27887933-0371-4ceb-8309-b1b36e9e228e')
(5, 'tony4', '1234', '9e7cf152-92a6-435a-a585-9f7a23d0ea03')
(6, 'tony5', '1234', 'user_004')

In [72]:
# import uuid
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    books = cur.execute("SELECT * FROM books").fetchall()
    [print(book) for book in books]

(1, 'harry potter 1', 'jk rowling', None)
(2, 'pride & prejudice', 'jane austen', None)
(3, '1984', 'G Orwell', None)
(4, 'hamlet', 'shakespear', None)

In [71]:
# import uuid
with sqlite3.connect("users.db") as conn:
    # cur = conn.cursor()
    conn.execute("ALTER TABLE books ADD COLUMN new_book_id")

In [ ]:
import sqlite3

with sqlite3.connect("your.db") as conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM users")
    row = cur.fetchone()
    first_column_value = row[0]
    print(first_column_value)

In [77]:
def generate_custom_id(prefix="user", chosen_db="users.db", chosen_tbl="users"):
    padding=3
    with sqlite3.connect(chosen_db) as conn:
        cur = conn.cursor()
        # sql_query = f"SELECT * FROM {chosen_tbl}"
        sql_query = f"SELECT COUNT(*) FROM {chosen_tbl}"
        cur.execute(sql_query)
        count = cur.fetchone()[0] + 1
        return f"{prefix}_{str(count).zfill(padding)}"

generate_custom_id(prefix="book", chosen_db="users.db", chosen_tbl="books")

'book_005'

In [80]:
def generate_custom_id2(prefix="user", chosen_db="users.db", chosen_tbl="users"):
    padding=3
    with sqlite3.connect(chosen_db) as conn:
        cur = conn.cursor()
        sql_query = f"SELECT book_id FROM {chosen_tbl}"
        # sql_query = f"SELECT COUNT(*) FROM {chosen_tbl}"
        cur.execute(sql_query)
        # print(res)
        count = cur.fetchone()[0] + 1
        print(count)
        return f"{prefix}_{str(count).zfill(padding)}"

In [86]:
# import uuid
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    books = cur.execute("SELECT * FROM books").fetchall()
    for book in books:
        print(f"{book}, {book[0]}, book_{str(book[0]).zfill(3)}")
        new_book_id = f'book_{str(book[0]).zfill(3)}'
        conn.execute('INSERT INTO books (new_book_id) VALUES (?)', (new_book_id))

(1, 'harry potter 1', 'jk rowling', None), 1, book_001

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 8 supplied.

In [87]:
# Step 2: Update each row with the new book ID
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    books = cur.execute("SELECT rowid, * FROM books").fetchall()
    
    for book in books:
        original_id = book[0]  # rowid or book_id
        new_book_id = f"book_{str(original_id).zfill(3)}"
        print(f"{book}, {original_id}, {new_book_id}")
        
        cur.execute(
            "UPDATE books SET new_book_id = ? WHERE rowid = ?", 
            (new_book_id, original_id)
        )
    
    # conn.commit()

(1, 1, 'harry potter 1', 'jk rowling', None), 1, book_001
(2, 2, 'pride & prejudice', 'jane austen', None), 2, book_002
(3, 3, '1984', 'G Orwell', None), 3, book_003
(4, 4, 'hamlet', 'shakespear', None), 4, book_004

In [88]:
# import uuid
with sqlite3.connect("users.db") as conn:
    cur = conn.cursor()
    books = cur.execute("SELECT * FROM books").fetchall()
    [print(book) for book in books]

(1, 'harry potter 1', 'jk rowling', 'book_001')
(2, 'pride & prejudice', 'jane austen', 'book_002')
(3, '1984', 'G Orwell', 'book_003')
(4, 'hamlet', 'shakespear', 'book_004')